.section {
    padding: 4rem 0.5rem;
}

.section:first-child {
    /* padding-top: 4rem; */
}

.section + .section {
    padding-bottom: 4rem;
}

.section + .section .row {
    padding-top: 2rem;
    border-top: 1px solid var(--border-color);
}

.section p {
    /* margin-top: 0.3rem; */
}

.section p + p {
    margin-top: 1.8rem;
}

.container {
    /* padding: 48px 96px; */
    margin: 0 auto;
    max-width: 52rem;
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
