.section {
    padding: 0rem 0.5rem 4rem 0.5rem;
}

.section:first-child {
    padding-top: 4rem;
}

.section + .section,
article {
    /* padding-bottom: 4rem; */
}

.section + .section .row {
    padding-top: 2rem;
    border-top: 1px solid var(--border-color);
}

.section p {
    /* margin-top: 0.3rem; */
}

.section p + p {
    /* margin-top: 1.8rem; */
}

.container {
    /* padding: 48px 96px; */
    margin: 0 auto;
    max-width: 42rem;
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* POST */
.postHeader {
    /* margin-top: 96px; */
}

.date {
    font-weight: 900;
    font-size: 0.9rem;
    color: var(--tertiary-txt-color);
}

.tag {
    font-size: 0.9rem;
    font-weight: 600;
    letter-spacing: 0.05rem;
    padding: 2px 4px;
    border-radius: 4px;
    background: var(--secondary-bg-color);
    border: 1px solid var(--border-color);
    color: var(--secondary-txt-color);
}

.postContent * + * {
    margin-top: 1rem;
}

/* .postContent {
    display: flex;
    flex-direction: column;
    gap: 1rem;
} */

.postContent ul,
ol {
    margin-left: 48px;
    /* display: flex;
    flex-direction: column; */
    /* gap: 1rem; */
}

.postContent li::marker {
    color: var(--tertiary-txt-color);
    /* font-weight: 900; */
}

.postContent em {
    font-family: var(--font-italic);
}

.postContent * + * {
    /* margin-top: 1.5rem; */
}

.postContent pre {
    background-color: var(--secondary-bg-color);
    padding: 24px;
    border-radius: 4px;
}

.postContent code {
    color: var(--secondary-txt-color);
}

.postContent hr {
    background-color: var(--border-color);
    height: 1px;
    border: none;
}

.postContent img {
    width: 100%;
    border-radius: 4px;
}

.postContent blockquote {
    margin-left: 3rem;
    color: var(--secondary-txt-color);
    border-left: 2px solid var(--border-color);
    padding-left: 1rem;
}

.postContent table {
    border-collapse: collapse;
    border: 1px solid var(--border-color);
    margin: 0 auto;
    min-width: 336px;
}

.postContent table th,
table td {
    text-align: start;
    border: 1px solid var(--border-color);
    padding: 4px 8px;
}
