.nav {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.linksList {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 8px;
}

.link {
    composes: linkButton from '../../../ui/Buttons/Button.module.css';
    border: 1px solid var(--primary-bg-color);
    position: relative;
}

.link:hover {
    background-color: var(--secondary-bg-color);
    border-color: var(--border-color-active);
    color: var(--primary-txt-color);
}

.link.active::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -8px;
    background-color: var(--border-color-active);
    background-color: #da702c;
    border-radius: 2px;
    height: 2px;
}

.globalLinkItem {
    position: relative;
}

.globalLinkItem + .globalLinkItem::before {
    content: '/';
    color: var(--primary-txt-color);
    position: absolute;
    left: -7px;
    top: 2px;
}
