.app {
    min-height: 100vh;
    font-family: var(--font-family);
    /* font-size: px; */
    background-color: var(--primary-bg-color);
    color: var(--primary-txt-color);
    /* position: relative; */
    display: flex;
    flex-direction: column;
}

.lightMode {
    --primary-bg-color: rgb(255, 252, 240);
    --secondary-bg-color: rgb(242, 240, 229);
    --primary-bg-color-opaque: rgba(255, 252, 240, 0.8);
    --secondary-bg-color-opaque: rgba(242, 240, 229, 0.2);
    --border-color: #e6e4d9;
    --border-color-hover: rgb(218, 216, 206);
    --border-color-active: rgb(206, 205, 195);
    --primary-txt-color: rgb(16, 15, 15);
    --secondary-txt-color: #6f6e69;
    --tertiary-txt-color: #b7b5ac;
}

.darkMode {
    --primary-bg-color: rgb(16, 15, 15);
    --secondary-bg-color: rgb(28, 27, 26);
    --primary-bg-color-opaque: rgba(16, 15, 15, 0.8);
    --secondary-bg-color-opaque: rgba(28, 27, 26, 0.2);
    --border-color: #282726;
    --border-color-hover: rgb(52, 51, 49);
    --border-color-active: rgb(64, 62, 60);
    --primary-txt-color: rgb(206, 205, 195);
    --secondary-txt-color: rgb(135, 133, 128);
    --tertiary-txt-color: #575653;
}
