.content * + * {
    margin-top: 1rem;
}

.content :last-child {
    margin-bottom: 1rem;
}

.content p {
    line-height: 1.8rem;
}

.content ul,
ol {
    margin-left: 2.5rem;
}

.content li::marker {
    color: var(--tertiary-txt-color);
    font-weight: 600;
}

.content em {
    font-family: var(--font-italic);
}

.content pre {
    background-color: var(--secondary-bg-color);
    padding: 24px;
    border-radius: 4px;
}

.content code {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 2px 4px;
    border-radius: 4px;
    background: var(--secondary-bg-color);
    color: var(--secondary-txt-color);
}

.content hr {
    background-color: var(--border-color);
    height: 1px;
    border: none;
}

.content img {
    width: 100%;
    border-radius: 4px;
}

.content blockquote {
    margin-left: 3rem;
    color: var(--secondary-txt-color);
    border-left: 2px solid var(--border-color);
    padding-left: 1rem;
}

.content table {
    border-collapse: collapse;
    border: 1px solid var(--border-color);
    margin: 0 auto;
    min-width: 336px;
}

.content table th,
table td {
    text-align: start;
    border: 1px solid var(--border-color);
    padding: 4px 8px;
}
