.accordian {
    list-style-type: none;
}

.panel {
    padding: 12px 0px;
}

.panel:not(:last-child) {
    border-bottom: 1px solid var(--border-color);
}

.panelHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.panelContent {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.listItem + .listItem::before {
    /* border-top: 1px solid var(--border-color); */
    /* content: '';
    background-color: var(--border-color);
    top: -6px;
    left: 0;
    right: 0;
    height: 1px;

    position: absolute; */
}

.listItem:hover {
    /* background-color: var(--secondary-bg-color); */
}

.year,
.info p {
    /* color: var(--secondary-txt-color); */
}

.info {
    /* flex-grow: 1; */
}

.buttonsContainer {
}
