.accordian {
    list-style-type: none;
    padding: 0px 12px;
    border: 1px solid var(--border-color);
    border-radius: 8px;
}

.panel {
    display: flex;
    flex-direction: column;
    /* gap: 8px; */
    padding: 12px 0px;
}

.panel:not(:last-child) {
    border-bottom: 1px solid var(--border-color);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0, 1, 0, 1);
}

.content.active {
    height: auto;
    max-height: 9999px;
    transition: all 0.5s cubic-bezier(1, 0, 1, 0);
}

.text {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/* should probably add these to index.css as generic lists? */
.text ul,
.text ol {
    margin-left: 48px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.text ul {
    list-style-type: disc;
}

.btnsContainer {
    margin-top: 4px;
    display: flex;
    gap: 8px;
}

.toggleBtn {
    /* eventually all button styles should be in Buttons.module.css, then every component composes from there? */
    composes: button from '../../Buttons/IconButton.module.css';
    /* border: 1px solid red; */
}

.icon {
    composes: icon from '../../Buttons/Button.module.css';
    transition: transform 0.5s ease-out;
}

.icon.active {
    transform: rotate(180deg);
}
