.globalBar {
    composes: bar from '../Header.module.css';
    margin-bottom: 8px;
}

.siteNameLink {
    text-decoration: none;
    color: var(--primary-txt-color);
    display: grid;
    align-items: center;
    justify-content: center;
    margin-left: 8px;
}

.siteName {
    font-size: 1.4rem;
    letter-spacing: 0.05rem;
    font-weight: 600;
}

.profileImg {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
}
