.linksList {
    composes: linksList from '../Nav/Nav.module.css'
}

.link {
    display: flex;
    align-items: center;
}

.icon {
    height: 1.2rem;
    filter: invert(3%) sepia(12%) saturate(326%) hue-rotate(314deg)
    brightness(94%) contrast(93%);
}

.icon:hover {
    filter: invert(44%) sepia(10%) saturate(179%) hue-rotate(13deg)
        brightness(92%) contrast(85%);
}
