.buttonBase {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    padding: 4px 8px;
    border-radius: 4px;
    font-family: var(--font-family);
    font-size: 0.9rem;
    font-weight: 600;
    letter-spacing: 0.05rem;
    background-color: var(--primary-bg-color);
    color: var(--secondary-txt-color);
    border: 1px solid;
    cursor: pointer;
    text-decoration: none; /* for links */
}

.button {
    composes: buttonBase;
    border-color: var(--border-color);
}

.button:hover {
    background-color: var(--secondary-bg-color);
    border-color: var(--border-color-active);
    color: var(--primary-txt-color);
}

/* for buttons with only an icon */
.button:has(img):not(:has(span)) {
    justify-content: center;
    padding: 4px 5px;
}

.button > img {
    height: 1.3rem;
    filter: brightness(0) saturate(100%) invert(44%) sepia(6%) saturate(277%)
        hue-rotate(13deg) brightness(95%) contrast(86%);
}

.button:hover > img {
    filter: brightness(0) saturate(100%) invert(6%) sepia(7%) saturate(226%)
        hue-rotate(314deg) brightness(102%) contrast(101%);
}

.button.darkMode > img {
    filter: invert(44%) sepia(5%) saturate(325%) hue-rotate(13deg)
        brightness(95%) contrast(89%);
}

.button.darkMode:hover > img {
    filter: invert(96%) sepia(6%) saturate(295%) hue-rotate(16deg)
        brightness(87%) contrast(88%);
}

.noBorder {
    border-color: var(--primary-bg-color);
}

.noBorder:hover {
    border-color: var(--secondary-bg-color);
}