.buttonBase {
    font-size: 0.9rem;
    font-weight: 600;
    letter-spacing: 0.05rem;
    padding: 4px 8px;
    border-radius: 4px;
    background: none;
    cursor: pointer;
    color: var(--secondary-txt-color);
}

.button {
    composes: buttonBase;
    border: 1px solid var(--border-color);
}

.button:hover {
    background-color: var(--secondary-bg-color);
    border-color: var(--border-color-active);
    color: var(--primary-txt-color);
}

.button:has(img) {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 5px;
}

.button > img {
    height: 1.3rem;
    filter: brightness(0) saturate(100%) invert(44%) sepia(6%) saturate(277%)
        hue-rotate(13deg) brightness(95%) contrast(86%);
}

.button:hover > img {
    filter: brightness(0) saturate(100%) invert(6%) sepia(7%) saturate(226%)
        hue-rotate(314deg) brightness(102%) contrast(101%);
}

.button.darkMode > img {
    filter: invert(44%) sepia(5%) saturate(325%) hue-rotate(13deg)
        brightness(95%) contrast(89%);
}

.button.darkMode:hover > img {
    filter: invert(96%) sepia(6%) saturate(295%) hue-rotate(16deg)
        brightness(87%) contrast(88%);
}

/* unsure of all this below */
.linkButton {
    composes: buttonBase;
    border: 1px solid var(--border-color);
    text-decoration: none;
    position: relative;
}

.linkButton:hover {
    background-color: var(--secondary-bg-color);
    border-color: var(--border-color-active);
}

/* .active:hover {
    background-color: var(--secondary-bg-color);
    border-color: var(--border-color-active);
    color: rgb(218, 112, 44);
} */

/* toggleButton */
.toggleButton {
    background-color: var(--primary-bg-color);
    border: 1px solid var(--border-color);
    border-radius: 25px;
    width: 42px;
    height: 1.4rem;
    align-self: center; /* Take this out eventually*/
    position: relative;
}

.toggleButton:hover {
    background-color: var(--secondary-bg-color);
    border-color: var(--border-color-active);
    cursor: pointer;
}

.thumb {
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background-color: var(--secondary-txt-color);
    transform: translateX(0);
    transition: left 0.15s ease;
    position: absolute;
    left: 2px;
    top: 50%;
    transform: translateY(-50%);
}

.toggleButton:hover .thumb {
    background-color: var(--primary-txt-color);
}

/* maybe not needed */
.toggleButton.toggled {
    background-color: var(--secondary-bg-color);
}

.toggleButton.toggled .thumb {
    left: calc(42px - 1rem - 4px);
}
