@import url('satoshi.css');
@import url('sentient.css');

:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --font-family: 'Satoshi-Variable', 'Inter', 'Arial', 'Helvetica',
        'sans-serif';
    /* --font-family: 'Sentient' */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* font-size: 1rem; */
    /* font-size: 20px; */
}

h1,
h2,
h3 {
    letter-spacing: 0.05rem;
    font-weight: 600;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.2rem;
}

h3 {
    font-size: 1.1rem;
}

/* body {
    font-size: 20px;
} */
