@import url('satoshi.css');

:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --primary-bg-color: rgb(255, 252, 240);
    --secondary-bg-color: rgb(242, 240, 229);
    --border-color: rgb(230, 228, 217);
    --border-color-hover: rgb(218, 216, 206);
    --border-color-active: rgb(206, 205, 195);
    --primary-txt-color: rgb(16, 15, 15);
    --secondary-txt-color: rgb(111, 110, 105);
    --tertiary-txt-color: rgb(183, 181, 172);
    --font-family: 'Satoshi-Variable', 'Inter', 'Arial', 'Helvetica',
        'sans-serif';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--primary-bg-color);
    color: var(--primary-txt-color);
    font-family: var(--font-family);
}
