@import url('satoshi.css');
@import url('sentient.css');

:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --font-family: 'Satoshi-Variable', 'Inter', 'Arial', 'Helvetica', sans-serif;
    /* --font-family: 'Sentient'; */
    --font-italic: 'Satoshi-VariableItalic';
    --font-size: 16px;
    --primary-bg-color: rgb(255, 252, 240);
    --secondary-bg-color: rgb(242, 240, 229);
    --primary-bg-color-opaque: rgba(255, 252, 240, 0.8);
    --secondary-bg-color-opaque: rgba(242, 240, 229, 0.2);
    --border-color: #e6e4d9;
    --border-color-hover: rgb(218, 216, 206);
    --border-color-active: rgb(206, 205, 195);
    --primary-txt-color: rgb(16, 15, 15);
    --secondary-txt-color: #6f6e69;
    --tertiary-txt-color: #b7b5ac;
    /* --red: blue; */
}

:root[data-font-family='serif'] {
    --font-family: 'Sentient', 'Georgia', 'Times New Roman', serif;
}

:root[data-theme='dark'] {
    --primary-bg-color: rgb(16, 15, 15);
    --secondary-bg-color: rgb(28, 27, 26);
    --primary-bg-color-opaque: rgba(16, 15, 15, 0.8);
    --secondary-bg-color-opaque: rgba(28, 27, 26, 0.2);
    --border-color: #282726;
    --border-color-hover: rgb(52, 51, 49);
    --border-color-active: rgb(64, 62, 60);
    --primary-txt-color: rgb(206, 205, 195);
    --secondary-txt-color: rgb(135, 133, 128);
    --tertiary-txt-color: #575653;
}

:root[data-font-size='14'] {
    --font-size: 14px;
}
:root[data-font-size='18'] {
    --font-size: 18px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scrollbar-gutter: stable;
    font-size: var(--font-size);
}

::selection {
    background-color: rgba(208, 162, 21, 0.5);
    /* background-color: rgb(67, 133, 190); */
}

body {
    /* font-size: 1rem; */
    letter-spacing: 0.05rem;
    /* scrollbar-gutter: stable; */
    background-color: var(--primary-bg-color);
    /* background-color: red; */
}

body.modal-active {
    overflow-y: hidden;
}

h1,
h2,
h3,
h4 {
    /* letter-spacing: 0.05rem; */
    /* color: var(--secondary-txt-color); */
    font-weight: 600;
}

h1 {
    font-size: 1.6rem;
}

h2 {
    font-size: 1.3rem;
}

h3 {
    font-size: 1.2rem;
}

h4 {
    font-size: 1rem;
}

a {
    text-decoration: underline;
    text-decoration-style: dotted;
    text-underline-offset: 4px;
    color: var(--secondary-txt-color);
}

a:hover {
    color: var(--primary-txt-color);
    text-decoration-style: dashed;
}

a img {
    height: 1.3rem;
    filter: brightness(0) saturate(100%) invert(44%) sepia(6%) saturate(277%)
        hue-rotate(13deg) brightness(95%) contrast(86%);
}

a:hover > img {
    filter: brightness(0) saturate(100%) invert(6%) sepia(7%) saturate(226%)
        hue-rotate(314deg) brightness(102%) contrast(101%);
}

a.darkMode img {
    filter: invert(44%) sepia(5%) saturate(325%) hue-rotate(13deg)
        brightness(95%) contrast(89%);
}

a.darkMode:hover > img {
    filter: invert(96%) sepia(6%) saturate(295%) hue-rotate(16deg)
        brightness(87%) contrast(88%);
}
